<aside class="sidebar comment-sidebar" id="sidebar-wrapper-positive" style="height: 644px;">
  <div class="comment-content" style="height: 624px;">
<div class="gttr" ng-hide="contact._id">
<div class="comment-title">
    <p>
      <label>First Name (required)</label> 
      <input id="name" class="form-control" type="text" ng-model="contact.firstName" required> 
    </p>
    <p>
      <label>Last Name (required)</label> 
      <input id="name" class="form-control" type="text" ng-model="contact.lastName" required> 
    </p>
    <p>
      <label>Email (required)</label> <input id="name" class="form-control" 
type="text" ng-model="contact.email" required> </p>
    <p>
      <label>Phone (Mobile)</label> 
      <input id="name" class="form-control" type="text" ng-model="contact.phone.mobile"> 
    </p>
    <p>
      <label>Phone (Work)</label> <input id="name" class="form-control" 
type="text" ng-model="contact.phone.work"> </p>
    <p>
      <label>Address</label> <input id="name" class="form-control" type="text" 
ng-model="contact.address"> </p>
    <p>
      <label>Twitter Handle</label> 
      <input id="name" class="form-control" type="text" ng-model="contact.twitter"> 
    </p>
    <p>
      <button style="margin-top:20px" class="btn btn-default" ng-click="saveContact(contact)">Save</button>
      <button style="margin-top:20px" class="btn btn-default" ng-click="back()">Back</button>
    </p>
  </div>
</div>
</div>
  <div>

  </div>
</aside>
    
    <leaflet lf-center="london" event-broadcast="events" markers="markers" 
height="480px" width="100%"></leaflet>
<p>Actual marker position (lat/lng): <strong 
ng-bind="contact.phone.work"></strong> / <strong 
ng-bind="contact.phone.mobile"></strong></p>
