<aside class="sidebar comment-sidebar" id="sidebar-wrapper-positive" style="height: 100%;">
  <div class="comment-content" style="height: 100%;">
<div class="gttr" ng-hide="contact._id">
<div class="comment-title">
  <p>
      <label>Where is this place?</label> 
      <input id="name" class="form-control" type="text" ng-model="contact.address" required> 
    </p>
    <p>
      <label>How could it be improved?</label> 
      <textarea id="name" class="cp-textarea form-control" type="text" rows="10" ng-model="contact.firstName" required></textarea>
    </p>
   <p>
      <label>Your name:</label> 
      <input id="name" class="form-control" type="text" ng-model="contact.lastName" required> 
    </p>
    <p>
      <label>Email:</label> <input id="name" class="form-control" 
type="text" ng-model="contact.email" required> </p>
   
   <p>Pin position (lat/lng): <strong 
ng-bind="contact.phone.work"></strong> / <strong 
ng-bind="contact.phone.mobile"></strong></p>
 
    <p>
      <button style="margin-top:20px" class="btn btn-primary save-comment" ng-click="saveContact(contact)">Save Comment</button>
      <button style="margin-top:20px" class="btn btn-default" ng-click="back()">Back</button>
    </p>
  </div>
</div>
</div>
  <div>

  </div>
</aside>
    
    <leaflet lf-center="london" event-broadcast="events" markers="markers" 
height="100%" width="100%"></leaflet>

